torch>=2.0,<3
numpy>=1.24,<3
opencv-python>=4.8,<5
Pillow>=10,<12
streamlit>=1.50,<2
pandas>=2.0,<3
pytesseract>=0.3.10
rapidocr-onnxruntime>=1.0,<2
onnxruntime>=1.18,<2
scipy>=1.9,<2
matplotlib>=3.5,<4
scikit-learn>=1.0,<2
plotly>=5.0,<6  # Добавлено для графиков